//****************************
//*COLOR Variable
//****************************

//*Primary
$primary_black: black; //*color used for toolbar
$primary_white: white;
$royal_red: rgb(224, 30, 38);
$royal_blue: rgb(0, 101, 255);
$secondary_blue: rgb(6, 99, 246); //ghostTag
$royal_green: rgb(0, 224, 162); //ghostTag

//*Secondary

//*Tersary
