* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  font-size: 10px;
  @include media('<=1466px') {
    font-size: 9px;
  }
  @include media('<=1392px') {
    font-size: 8.5px;
  }
  @include media('<=860px') {
    font-size: 12px;
  }
  @include media('<=658px') {
    font-size: 13px;
  }
}
.cursor {
  cursor: pointer;
}

* {
  // transition: all 0.5s ease-in-out;
  user-select: none;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

// !remove blue background in mobile screen
* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
button,
div {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
a {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
::selection {
  background-color: transparent;
  color: transparent;
}
html {
  scroll-behavior: smooth;
}
