.carousel {
  margin-top: 3rem;
  width: 62%;
  border-radius: 2rem;
  padding: 1rem 1rem;

  @include media('<=1150px') {
    width: 100%;
  }
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  background: #dde9ff;

  background: rgba(221, 233, 255, 0.35);
  box-shadow: 0 8px 32px 0 #c3d9fb;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.carousel-cell {
  width: 32.5%;
  height: 200px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
