#partnerSectionMain {
  margin-top: 7rem;
  background-color: rgb(247, 249, 255);
  .ourPartnerSectionBg {
    background-color: rgb(247, 249, 255);
    padding-top: 5rem;
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 1.8rem;
      color: grey;
    }
  }
  #ourPartnerSection {
    text-align: center;
    background-color: rgb(247, 249, 255);
    margin-top: 4rem;
    .contentBlock {
      justify-content: center;
      flex-wrap: wrap;
      width: 70%;
      @include media('<=1150px') {
        width: 100%;
      }
    }
  }
}
